<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script type="text/javascript" th:src="@{js/app.js}"></script>
</head>
<body onload="timer()">

<div id="time">
    <h1 id="currentTime"></h1>
</div>

<header>
    <h1>Twoje zamówienia</h1>
</header>

<table id="poczty" class="center">
    <thead>
    <tr>
        <th>Nr zamówienia</th>
        <th>Data zamówienia</th>
        <th>Samochód</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">Nr zamówienia</td>
        <td th:text="${order.data}">Data zamówienia</td>
        <td th:text="${order.car.carModel.carBrand.nazwa} + ' ' + ${order.car.carModel.nazwa}">Samochód</td>
        <td th:text="${order.car.cena}">Cana</td>
    </tr>
    </tbody>
</table>

</body>
</html>