<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
</head>
<body>
    <h1 style="color: #b51714; margin: 0 auto; font-size: 200px">WITAJ ADMINIE</h1>

    <a style="font-size: 40px" href="/admin/zarejestruj-pracownika">Zarejestruj pracownika</a> <br>
    <a style="font-size: 40px" href="/admin/zarzadzanie-pracownikami">Zarządzaj pracownikami</a> <br>
    <a style="font-size: 40px" href="/admin/zarzadzanie-zamowieniami">Zarządzaj zamówieniami</a> <br>
</body>
</html>