<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Samochodex</title>
</head>
<body>
    <form role="form" th:action="@{/admin/zarejestruj-pracownika}" th:method="post">
        <label>Email*</label>
        <input type="email" id="username" name="username" th:value="${user.username}">
        <br/>

        <label>Hasło*</label>
        <input type="password" id="password" name="password" th:field="*{user.password}">
        <br/>

        <label>Imię*</label>
        <input type="text" id="imie" name="imie" th:value="${employee.imie}">
        <br/>

        <label>Nazwisko*</label>
        <input type="text" id="nazwisko" name="nazwisko" th:value="${employee.nazwisko}">
        <br/>

        <label>Salon*</label>
            <select th:field="*{employee.carDealer}" required>
                <th:block th:each="carDealer : ${carDealers}">
                    <option th:text="${carDealer.nazwa}" th:value="${carDealer.id}"></option>
                </th:block>
            </select>
        <br/>

        <label>Stanowisko*</label>
        <select th:field="*{employee.position}" required>
            <th:block th:each="position : ${positions}">
                <option th:text="${position.nazwa}" th:value="${position.id}"></option>
            </th:block>
        </select>
        <br/>

        <label>Nr konta bankowego*</label>
        <input type="text" id="nrKonta" name="nrKonta" th:value="${employee.nrKonta}">
        <br/>

        <label>Nr telefonu*</label>
        <input type="text" id="nrTelefonu" name="nrTelefonu" th:value="${employee.nrTelefonu}">
        <br/>

        <label>Data urodzenia*</label>
        <input type="date" id="dataUrodzenia" name="dataUrodzenia" th:value="${employee.dataUrodzenia}">
        <br/>

        <label>Płeć*</label>
        <input type="text" id="plec" name="plec" th:value="${employee.plec}">
        <br/>

        <label>PESEL</label>
        <input type="text" id="PESEL" name="PESEL" th:value="${employee.PESEL}">
        <br/>

        <label>Miejscowość*</label>
        <input type="text" id="miejscowosc" name="miejscowosc" th:value="${address.miejscowosc}">
        <br/>

        <label>Ulica*</label>
        <input type="text" id="ulica" name="ulica" th:value="${address.ulica}">
        <br/>

        <label>Nr bunynku*</label>
        <input type="text" id="nrBudynku" name="nrBudynku" th:value="${address.nrBudynku}">
        <br/>

        <label>Nr mieszkania</label>
        <input type="text" id="nrMieszkania" name="nrMieszkania" th:value="${address.nrBudynku}">
        <br/>

        <label>Kod pocztowy*</label>
        <input type="text" id="kodPocztowy" name="kodPocztowy" th:value="${post.kodPocztowy}">
        <br/>

        <label>Poczta*</label>
        <input type="text" id="poczta" name="poczta" th:value="${post.poczta}">
        <br/>

<!--        TODO: Przy kliknięciu przekierowuje na /admin i fajnie by było jak by wyskakiwało okienko gdzieś "Zarejestrowano pracownika", czy coś tam-->
        <input type="submit">
    </form>
</body>
</html>
