<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{css/stylesheet.css}"/>
</head>
<body>

<!--menu-->
<div th:replace="templates :: navbar"></div>

<div class="table_container">
    <div class="table_title">
        Wszystkie zamówienia
    </div>
    <div class="table_data">
        <div class="table_part" th:each="order : ${orders}">

            <div class="table_column">
                <!--Numer zamówienia-->
                <div class="table_column_title">
                    Numer zamówienia
                </div>
                <div class="table_column_value" th:text="${order.id}"></div>
            </div>

            <div class="table_column">

                <!--Data złożenia zamówienia-->
                <div class="table_column_title">
                    Data złożenia zamówienia
                </div>
                <div class="table_column_value" th:text="${order.data}"></div>
            </div>

            <div class="table_column">
                <!--Klient-->
                <div class="table_column_title">
                    Klient
                </div>
                <div class="table_column_value" th:text="${order.client.imie} + ' ' + ${order.client.nazwisko}"></div>
            </div>

            <div class="table_column">
                <!--Email klienta-->
                <div class="table_column_title">
                    E-mail
                </div>
                <div class="table_column_value" th:text="${order.client.email}"></div>
            </div>

            <div class="table_column">
                <!--Przypisany pracownik-->
                <div class="table_column_title">
                    Przypisany pracownik
                </div>
                <div class="table_column_value" th:text="${order.employee.imie} + ' ' + ${order.employee.nazwisko}"></div>
            </div>

            <div class="table_column">
                <!--Salon-->
                <div class="table_column_title">
                    Salon
                </div>
                <div class="table_column_value" th:text="${order.carDealer.nazwa}"></div>
            </div>

            <div class="table_column">
                <!--Samochód-->
                <div class="table_column_title">
                    Samochód
                </div>
                <a th:href="@{'/samochody/' + ${order.car.id}}">
                    <div class="table_column_value"
                         th:text="${order.car.carModel.carBrand.nazwa} + ' ' + ${order.car.carModel.nazwa}"></div>
                </a>
            </div>

            <div class="table_column">
                <!--Cena-->
                <div class="table_column_title">
                    Cena
                </div>
                <div class="table_column_value" th:text="${order.car.cena}"></div>
            </div>

            <div class="table_column">
                <!--Zrealizowane-->
                <div class="table_column_title">
                    Zrealizowane
                </div>
                <div class="table_column_value" th:if="${order.done == true}">TAK</div>
                <div class="table_column_value" th:if="${order.done == false}">NIE</div>
            </div>

            <!--Zarządzaj-->
            <div class="table_column">
                <div class="table_column_title">
                    Zarządzaj
                </div>
                <div class="table_column_manage">
                    <a th:if="${order.done == false}" th:href="@{'/admin/zrealizuj-zamowienie/' + ${order.id}}">Zrealizuj</a>
                    <a th:href="@{'/admin/anuluj-zamowienie/' + ${order.id}}">Anuluj</a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="templates :: footer"></div>

</body>
</html>