<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Samochodex rejestracja</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<!--menu-->
<div th:replace="templates :: navbar"></div>


<form th:action="@{/rejestracja}" th:method="post" class="login_container">
    <div class="login_text">rejestracja</div>


    <div class="login_part">
        <input type="text" id="username" name="username" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="username" class="login_label">Email</label>
    </div>

    <div class="login_part">
        <input type="password" id="password" name="password" class="login_input" placeholder="" required="">
        <label for="password" class="login_label">Hasło</label>
    </div>

    <div class="login_part">
        <input type="text" id="imie" name="imie" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="imie" class="login_label">Imię</label>
    </div>

    <div class="login_part">
        <input type="text" id="nazwisko" name="nazwisko" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="nazwisko" class="login_label">Nazwisko</label>
    </div>

    <div class="login_part">
        <input type="text" id="nrTelefonu" name="nrTelefonu" class="login_input" placeholder=""
               autofocus="" />
        <label for="nrTelefonu" class="login_label">Numer telefonu</label>
    </div>

    <div class="login_part">
        <input type="date" id="dataUrodzenia" name="dataUrodzenia" class="login_input" placeholder=""
               autofocus="" />
        <label for="dataUrodzenia" class="login_label">Data urodzenia</label>
    </div>

    <div class="login_part">
        <input type="text" id="plec" name="plec" class="login_input" placeholder=""
               autofocus="" />
        <label for="plec" class="login_label">Płeć</label>
    </div>

    <div class="login_part">
        <input type="text" id="PESEL" name="PESEL" class="login_input" placeholder=""
               autofocus="" />
        <label for="PESEL" class="login_label">PESEL</label>
    </div>

    <div class="login_part">
        <input type="text" id="miejscowosc" name="miejscowosc" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="miejscowosc" class="login_label">Miejscowość</label>
    </div>

    <div class="login_part">
        <input type="text" id="ulica" name="ulica" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="ulica" class="login_label">Ulica</label>
    </div>

    <div class="login_part">
        <input type="text" id="nrBudynku" name="nrBudynku" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="nrBudynku" class="login_label">Nr budynku</label>
    </div>

    <div class="login_part">
        <input type="text" id="nrMieszkania" name="nrMieszkania" class="login_input" placeholder=""
               autofocus="" />
        <label for="nrMieszkania" class="login_label">Nr mieszkania</label>
    </div>

    <div class="login_part">
        <input type="text" id="kodPocztowy" name="kodPocztowy" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="kodPocztowy" class="login_label">Kod pocztowy</label>
    </div>

    <div class="login_part">
        <input type="text" id="poczta" name="poczta" class="login_input" placeholder=""
               required="" autofocus="" />
        <label for="poczta" class="login_label">Poczta</label>
    </div>


    <button class="login_button" type="submit">Zarejestruj się</button>

</form>


<!-- footer -->
<div th:replace="templates :: footer"></div>


</body>
</html>
