<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>

<!--menu-->
<div th:replace="templates :: navbar"></div>


<form th:action="@{/samochody/dodaj/zapisz}" th:method="post" class="form_container">
    <div class="form_text">Dodaj nowy samochód</div>

    <!--Marka-->
    <div class="form_part">
        <select th:field="*{car.carModel.carBrand}" required="" name="marka" id="marka" class="form_input"
                autofocus="">
            <th:block th:each="carBrand : ${carBrands}">
                <option th:text="${carBrand.nazwa}" th:value="${carBrand.id}"></option>
            </th:block>
        </select>
        <label for="marka" class="form_label">Marka</label>
    </div>

    <!--Model-->
    <div class="form_part">
        <input type="text" id="carModelNazwa" name="carModelNazwa" class="form_input" placeholder="" required="">
        <label for="carModelNazwa" class="form_label">Model</label>
    </div>


    <!--Generacja-->
    <div class="form_part">
        <input type="number" id="generacja" name="generacja" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="generacja" class="form_label">Generacja</label>
    </div>


    <!--Rok produkcji-->
    <div class="form_part">
        <input type="number" id="rokProdukcji" name="rokProdukcji" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="rokProdukcji" class="form_label">Rok produkcji</label>
    </div>


    <!--Kraj produkcji-->
    <div class="form_part">
        <input type="text" id="krajProdukcji" name="krajProdukcji" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="krajProdukcji" class="form_label">Kraj produkcji</label>
    </div>


    <!--Rodzaj napędu-->
    <div class="form_part">
        <select required="" name="naped" id="naped" class="form_input"
                autofocus="">
            <option value="przod">Przód</option>
            <option value="tyl">Tył</option>
            <option value="4x4">4x4</option>
        </select>
        <label for="naped" class="form_label">Rodzaj napedu</label>
    </div>


    <!--Skrzynia biegów-->
    <div class="form_part">
        <input type="text" id="skrzyniaBiegow" name="skrzyniaBiegow" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="skrzyniaBiegow" class="form_label">Skrzynia biegów</label>
    </div>


    <!--Ilość miejsc-->
    <div class="form_part">
        <input type="number" id="iloscMiejsc" name="iloscMiejsc" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="iloscMiejsc" class="form_label">Ilość miejsc</label>
    </div>


    <!--Ilość drzwi-->
    <div class="form_part">
        <input type="number" id="iloscDrzwi" name="iloscDrzwi" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="iloscDrzwi" class="form_label">Ilość drzwi</label>
    </div>


    <!--Opony-->
    <div class="form_part">
        <input type="number" id="opony" name="opony" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="opony" class="form_label">Opony</label>
    </div>


    <!--Rodzaj nadwozia-->
    <div class="form_part">
        <input type="text" id="nadwozie" name="nadwozie" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="nadwozie" class="form_label">Rodzaj nadwozia</label>
    </div>


    <!--Kolor nadwozia-->
    <div class="form_part">
        <input type="text" id="kolorNadwozia" name="kolorNadwozia" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="kolorNadwozia" class="form_label">Kolor nadwozia</label>
    </div>


    <!--Kolor tapicerki-->
    <div class="form_part">
        <input type="text" id="kolorTapicerki" name="kolorTapicerki" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="kolorTapicerki" class="form_label">Kolor tapicerki</label>
    </div>


    <!--Numer VIN-->
    <div class="form_part">
        <input type="text" id="VIN" name="VIN" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="VIN" class="form_label">Numer VIN</label>
    </div>


    <!--Na sprzedaz-->
    <div class="form_part">
        <input type="text" id="naSprzedaz" name="naSprzedaz" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="naSprzedaz" class="form_label">Na sprzedaż?</label>
    </div>


    <!--Salon-->
    <div class="form_part">
        <select th:field="*{car.carDealer}" required="" name="salon" id="salon" class="form_input"
                autofocus="">
            <th:block th:each="carDealer : ${carDealers}">
                <option th:text="${carDealer.nazwa}" th:value="${carDealer.id}"></option>
            </th:block>
        </select>
        <label for="salon" class="form_label">Salon</label>
    </div>


    <!--Silnik-->
    <div class="form_part">
        <select th:field="*{car.engine}" required="" name="silnik" id="silnik" class="form_input"
                autofocus="">
            <th:block th:each="engine : ${engines}">
                <option th:text="${engine.nazwa} + ' ' + ${engine.pojemnosc} + ' ' + ${engine.KM} + 'KM'"
                        th:value="${engine.id}"></option>
            </th:block>
        </select>
        <label for="silnik" class="form_label">Silnik</label>
    </div>


    <!--Wersja wyposażenia-->
    <div class="form_part">
        <select th:field="*{car.equipmentVersion}" required="" name="wersjaWyposazenia" id="wersjaWyposazenia"
                class="form_input"
                autofocus="">
            <th:block th:each="equipmentVersion : ${equipmentVersions}">
                <option th:text="${equipmentVersion.nazwa}" th:value="${equipmentVersion.id}"></option>
            </th:block>
        </select>
        <label for="wersjaWyposazenia" class="form_label">Wersja wyposażenia</label>
    </div>


    <!--Cena-->
    <div class="form_part">
        <input type="number" id="cena" name="cena" class="form_input" placeholder=""
               required="" autofocus=""/>
        <label for="cena" class="form_label">Cena</label>
    </div>

    <button class="form_button" type="submit">Dodaj samochód</button>

</form>


<!-- footer -->
<div th:replace="templates :: footer"></div>


</body>
</html>