<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>

<!--menu-->
<div th:replace="templates :: navbar"></div>


<form th:action="@{/samochody/edytuj/zapisz}" th:method="post" class="form_container">
    <div class="form_text">Edytuj samochód</div>
    <input type="hidden" th:field="${car.id}" readonly="readonly">

    <!--Marka-->
    <!--TODO: Rzeczy takie jak marka, model i silnik (za dużo roboty będzie, usunąłem,
            żeby nie można było dodawać silnika i modelu, więc nie rób tak, żeby był do zmiany)
            mogą zostać na stałe, do zmiany są tylko jakieś małe atrybuty-->
    <div class="form_part">
        <input type="text" id="marka" name="marka" class="form_input_without_label_animation" placeholder="" required=""
               readonly="readonly"
               th:value="${car.carModel.carBrand.nazwa}">
        <input type="hidden" th:field="${car.carModel.id}" readonly="readonly">
        <label for="marka" class="form_label">Marka</label>
    </div>

    <!--Model-->
    <!--TODO: Ma się wyświetlać to co jest już wpisane w dane samochodu-->
    <div class="form_part">
        <input type="text" id="nazwa" name="nazwa" class="form_input_without_label_animation" placeholder="" required=""
               readonly="readonly"
               th:value="${car.carModel.nazwa}">
        <label for="nazwa" class="form_label">Model</label>
    </div>


    <!--Generacja-->
    <div class="form_part">
        <input type="number" id="generacja" name="generacja" class="form_input" placeholder="(niewymagane)"
               autofocus="" th:value="${car.carModel.generacja}"/>
        <label for="generacja" class="form_label">Generacja</label>
    </div>


    <!--Rok produkcji-->
    <div class="form_part">
        <input type="number" id="rokProdukcji" name="rokProdukcji" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.rokProdukcji}"/>
        <label for="rokProdukcji" class="form_label">Rok produkcji</label>
    </div>


    <!--Kraj produkcji-->
    <div class="form_part">
        <input type="text" id="krajProdukcji" name="krajProdukcji" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.krajProdukcji}"/>
        <label for="krajProdukcji" class="form_label">Kraj produkcji</label>
    </div>


    <!--Rodzaj napędu-->
    <div class="form_part">
        <select required="" name="naped" id="naped" class="form_input"
                autofocus="">
            <option value="przod" th:selected="'przod' == ${car.naped}">Przód</option>
            <option value="tyl" th:selected="'tyl' == ${car.naped}">Tył</option>
            <option value="4x4" th:selected="'4x4' == ${car.naped}">4x4</option>
        </select>
        <label for="naped" class="form_label">Rodzaj napedu</label>
    </div>


    <!--Skrzynia biegów-->
    <div class="form_part">
        <select required="" name="skrzyniaBiegow" id="skrzyniaBiegow" class="form_input"
                autofocus="">
            <option value="automatyczna" th:selected="'automatyczna' == ${car.skrzyniaBiegow}">Automatyczna</option>
            <option value="manualna" th:selected="'manualna' == ${car.skrzyniaBiegow}">Manualna</option>
            <option value="" th:selected="'' == ${car.skrzyniaBiegow}">Brak</option>
        </select>
        <label for="skrzyniaBiegow" class="form_label">Skrzynia biegów</label>
    </div>


    <!--Ilość miejsc-->
    <div class="form_part">
        <input type="number" id="iloscMiejsc" name="iloscMiejsc" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.iloscMiejsc}"/>
        <label for="iloscMiejsc" class="form_label">Ilość miejsc</label>
    </div>


    <!--Ilość drzwi-->
    <div class="form_part">
        <input type="number" id="iloscDrzwi" name="iloscDrzwi" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.iloscDrzwi}"/>
        <label for="iloscDrzwi" class="form_label">Ilość drzwi</label>
    </div>


    <!--Opony-->
    <div class="form_part">
        <input type="text" id="opony" name="opony" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.opony}"/>
        <label for="opony" class="form_label">Opony</label>
    </div>


    <!--Rodzaj nadwozia-->
    <div class="form_part">
        <input type="text" id="nadwozie" name="nadwozie" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.nadwozie}"/>
        <label for="nadwozie" class="form_label">Rodzaj nadwozia</label>
    </div>


    <!--Kolor nadwozia-->
    <div class="form_part">
        <input type="text" id="kolorNadwozia" name="kolorNadwozia" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.kolorNadwozia}"/>
        <label for="kolorNadwozia" class="form_label">Kolor nadwozia</label>
    </div>


    <!--Kolor tapicerki-->
    <div class="form_part">
        <input type="text" id="kolorTapicerki" name="kolorTapicerki" class="form_input" placeholder=""
               required="" autofocus="" th:value="${car.kolorTapicerki}"/>
        <label for="kolorTapicerki" class="form_label">Kolor tapicerki</label>
    </div>


    <!--Numer VIN-->
    <div class="form_part">
        <input type="text" id="VIN" name="VIN" class="form_input" placeholder=""
               required="" autofocus="" minlength="17" maxlength="17" th:value="${car.VIN}"/>
        <label for="VIN" class="form_label">Numer VIN</label>
    </div>


    <!--Na sprzedaz-->
    <div class="form_part">
        <select required="" name="naSprzedaz" id="naSprzedaz" class="form_input"
                autofocus="">
            <option value="1" th:selected="'1' == ${car.naSprzedaz}">Tak</option>
            <option value="0" th:selected="'0' == ${car.naSprzedaz}">Nie</option>
        </select>
        <label for="naSprzedaz" class="form_label">Na sprzedaż?</label>
    </div>


    <!--Salon-->
    <div class="form_part">
        <select th:field="*{car.carDealer}" required="" name="salon" id="salon" class="form_input"
                autofocus="">
            <option th:each="carDealer : ${carDealers}"
                    th:text="${carDealer.nazwa}"
                    th:value="${carDealer.id}"
                    th:selected="carDealer.id == ${car.carDealer.id}"
            ></option>


        </select>
        <label for="salon" class="form_label">Salon</label>
    </div>


    <!--Silnik-->
    <input type="hidden" id="id" name="id" th:value="${engine.id}" readonly="readonly">
    <div class="form_part">
        <input type="text" id="nazwaSilnika" name="nazwaSilnika" class="form_input" placeholder=""
               required="" autofocus="" th:value="${engine.nazwaSilnika}"/>
        <label for="nazwaSilnika" class="form_label">Nazwa silnika</label>
    </div>

    <div class="form_part">
        <input type="text" id="pojemnosc" name="pojemnosc" class="form_input" placeholder="(niewymagane)"
               autofocus="" th:value="${engine.pojemnosc}"/>
        <label for="pojemnosc" class="form_label">Pojemność silnika</label>
    </div>

    <div class="form_part">
        <input type="text" id="KM" name="KM" class="form_input" placeholder=""
               required="" autofocus="" th:value="${engine.KM}"/>
        <label for="KM" class="form_label">Konie mechaniczne</label>
    </div>

    <div class="form_part">
        <input type="text" id="momentObrotowy" name="momentObrotowy" class="form_input" placeholder=""
               required="" autofocus="" th:value="${engine.momentObrotowy}"/>
        <label for="momentObrotowy" class="form_label">Moment obrotowy</label>
    </div>

    <div class="form_part">
        <input type="text" id="rodzajPaliwa" name="paliwo" class="form_input" placeholder=""
               required="" autofocus="" th:value="${engine.paliwo}"/>
        <label for="rodzajPaliwa" class="form_label">Rodzaj paliwa</label>
    </div>

    <div class="form_part">
        <input type="text" id="masa" name="masa" class="form_input" placeholder=""
               required="" autofocus="" th:value="${engine.masa}"/>
        <label for="masa" class="form_label">Masa silnika</label>
    </div>


    <!--Wersja wyposażenia-->
    <div class="form_part">
        <select th:field="*{car.equipmentVersion}" required="" name="wersjaWyposazenia" id="wersjaWyposazenia"
                class="form_input"
                autofocus="">
            <option th:each="equipmentVersion : ${equipmentVersions}"
                    th:text="${equipmentVersion.nazwa}"
                    th:value="${equipmentVersion.id}"
                    th:selected="${equipmentVersion.id} == ${car.equipmentVersion.id}"
            >
            </option>
        </select>
        <label for="wersjaWyposazenia" class="form_label">Wersja wyposażenia</label>
    </div>


    <!--Cena-->
    <div class="form_part">
        <input type="number" id="cena" name="cena" class="form_input" placeholder=""
               required="" autofocus=""  th:value="${car.cena}" />
        <label for="cena" class="form_label">Cena</label>
    </div>


    <!--zdjecie-->
    <div class="form_part">
        <input type="url" id="zdjecie" name="zdjecie" class="form_input" placeholder="(niewymagane)"
               autofocus="" th:value="${car.zdjecie}"/>
        <label for="zdjecie" class="form_label">URL zdjęcia</label>
    </div>

    <button class="form_button" type="submit">Zapisz</button>

</form>


<!-- footer -->
<div th:replace="templates :: footer"></div>


</body>
</html>