<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<div align="center">
    <h1>Złóż zamówienie</h1> <br/>

    <!-- TODO: Usunac niepotrzebne pola do wyswietlania, ale zapis potrzebuje aby obowiazkowe pola samochodu byly zapsane -->
    <form action="#" th:action="@{/samochody/zapisz}" th:method="post" th:object="${car}">
        <table>
            <tr>
                <td>Id samochodu:</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Marka:</td>
                <td><input type="text" th:field="*{carModel.carBrand.nazwa}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Model:</td>
                <td><input type="text" th:field="*{carModel.nazwa}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Rocznik:</td>
                <td><input type="text" th:field="*{rokProdukcji}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Kraj produkcji:</td>
                <td><input type="text" th:field="*{krajProdukcji}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Rodzaj napędu:</td>
                <td><input type="text" th:field="*{naped}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Ilość miejsc:</td>
                <td><input type="text" th:field="*{iloscMiejsc}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Ilość drzwi:</td>
                <td><input type="text" th:field="*{iloscDrzwi}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Opony:</td>
                <td><input type="text" th:field="*{opony}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Rodzaj nadwozia:</td>
                <td><input type="text" th:field="*{nadwozie}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Kolor nadwozia:</td>
                <td><input type="text" th:field="*{kolorNadwozia}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Kolor tapicerki:</td>
                <td><input type="text" th:field="*{kolorTapicerki}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Numer VIN:</td>
                <td><input type="text" th:field="*{VIN}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Na sprzedaż?:</td>
                <td><input type="checkbox" th:field="*{naSprzedaz}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Salon:</td>
                <td>
                    <select th:field="*{carDealer}" required>
                        <th:block th:each="carDealer : ${carDealers}">
                            <option th:text="${carDealer.nazwa}" th:value="${carDealer.id}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Silnik:</td>
                <td>
                    <select th:field="*{engine}" required>
                        <th:block th:each="engine : ${engines}">
                            <option th:text="${engine.nazwa} + ' ' + ${engine.pojemnosc} + ' ' + ${engine.KM} + 'KM'"
                                    th:value="${engine.id}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Wersja wyposażenia:</td>
                <td>
                    <select th:field="*{equipmentVersion}" required>
                        <th:block th:each="equipmentVersion : ${equipmentVersions}">
                            <option th:text="${equipmentVersion.nazwa}" th:value="${equipmentVersion.id}"></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cena</td>
                <td><input type="text" th:field="*{cena}" readonly="readonly">zł</td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Zamów</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>