
/*global body*/
body {
    font-family: 'Lato', sans-serif;
    color: Black;
}

/*links*/
a {
    color: inherit;
    text-decoration: none;
}

header {
    text-align: center;
    font-size: 42px;
}



/*menu*/
#menu_container {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#menu_container:visited {
    color: black;
}


/*Suchodolski's styles*/
#time {
    text-align: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table#poczty {
    border: 3px solid azure;
}

table#poczty th {
    padding: 10px;
    border: 1px solid azure;
}

table#poczty td {
    padding: 10px;
    border: 1px solid azure;
}