/*global config*/
html {
    min-height: 100%;
}

body {
    font-family: 'Roboto', serif;
    color: Black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    font-size: 42px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: none;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}


/*images*/

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.fit_to_div {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


/*links*/
a {
    color: inherit;
    text-decoration: none;
}

/*basic classes*/
.left {
    float: left;
    margin-right: auto;
    display: inherit;
    flex-direction: inherit;
}

.right {
    float: right;
    margin-left: auto;
    display: inherit;
    flex-direction: inherit;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

/*==============| navbar |==============*/

#navbar_container {
    width: 100%;
    height: 50px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    border-bottom-width: 1px;
    border-bottom-color: darkslategrey;
    border-bottom-style: solid;
    box-shadow: 0 2px 5px grey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    z-index: 500;
    background-color: white;
}

#navbar_container:visited {
    color: black;
}

#navbar_logo {
    height: 40px;
    margin: auto 5px;
}

.navbar_object {
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;

}


.navbar_object:hover {
    background-color: #383d46;
    color: white;
}

#navbar_welcome_text {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
}

#left_navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right_navbar {
    display: flex;
    flex-direction: row;
}

/*==============| footer |==============*/

#footer_container {
    padding-top: 30px;
    background-color: #272c34;
    height: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    align-self: flex-end;
    margin-top: auto;
}

.footer_column {
    margin-right: 16px;
    margin-left: 16px;
    width: 20%;
}

.footer_row {
    display: inherit;
    justify-content: center;
}

.footer_column_header {
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: bolder;
    font-size: 18pt;
}

#footer_description {
    width: 90%;
    text-align: justify;
}

.footer_social_link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-collapse: separate;
    margin: 12px;
    padding: 4px;
}


/*==============| index |==============*/

/*welcome section*/
#welcome {
    position: relative;
    height: 650px;
    background-color: black;
    overflow: hidden;
}

#welcome_image_inside {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#welcome_image_text {
    display: flex;
    align-self: center;
    font-size: 48pt;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10%;
    /*text border 1px to all sites*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

#welcome_image_button {
    display: flex;
    align-self: center;
    text-align: center;
    padding: 30px 60px;
    /*background-color: darkslategrey;*/
    color: white;
    font-size: 14pt;
    border: solid white 3px;
}

#welcome_image_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#welcome_image {
    height: 100%;
    width: 100%;
    transition: 300ms;
    z-index: 10;
}

#welcome:hover #welcome_image {
    opacity: 60%;
    transform: scale(1.1);
}

/*About section*/
#samochodex_description_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#samochodex_description_title {
    display: flex;
    width: 40%;
    font-size: 30pt;
    margin: 15px;
}

#samochodex_description {
    display: flex;
    width: 40%;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
    font-size: 14pt;

}


/*links section*/

#links_section {
    overflow: hidden;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.links_section_object {
    overflow: hidden;
    position: relative;
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    float: left;
    text-align: center;
    z-index: 2;
    transition: 300ms;
    background-color: black;
}

.links_section_image {
    position: relative;
    height: 300px;
    object-fit: cover;
    display: flex;
    z-index: 1;
    transition: 300ms;
}

.links_section_text {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms;
    text-shadow: 2px 2px 5px black;
}

.links_section_object:hover .links_section_image {
    opacity: 60%;
    transform: scale(1.1);
}

.links_section_object:hover .links_section_text {
    transform: scale(1.5);
}


/*==============| login |==============*/

.login_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 600px;
    margin: 120px auto 70px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login_text {
    font-size: 32pt;
    margin-bottom: 44px;
    margin-top: 24px;
    font-weight: bold;
    align-self: center;
    text-transform: capitalize;
}

#login_error {
    width: 60%;
    text-align: center;
    align-self: center;
    padding: 24px;
    background-color: rgba(198, 40, 21 , 0.5);
    margin-top: 12px;
    margin-bottom: 24px;
    transition: 5s;
}

.login_part {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin-top: 36px;

}

.login_label {
    position: absolute;
    transition: 300ms;
    font-size: 18pt;
    bottom: 4px;
}

.login_input {
    display: flex;
    transition: 300ms;
    width: 100%;
    align-self: center;
    border-style: none;
    border-bottom-style: solid;
    font-size: 18pt;
}

.login_input:focus {
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    border-color: black;
}

.login_input:valid ~ label, .login_input:focus ~ label {
    font-size: 12pt;
    top: -18pt;
}

.login_input_without_label_animation {
    display: flex;
    transition: 300ms;
    width: 100%;
    align-self: center;
    border-style: none;
    border-bottom-style: solid;
    font-size: 18pt;
}

.login_input_without_label_animation:focus {
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    border-color: black;
}

.login_input_without_label_animation ~ label, .login_input:focus ~ label {
    font-size: 12pt;
    top: -18pt;
}

.login_button {
    border-radius: 11px;
    margin-bottom: 24px;
    padding: 12px;
    width: 480px;
    margin-top: 24px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    align-self: center;
    transition: 200ms;
    background-color: #c62815;
    color: white;
}

.login_button:hover {
    background-color: #b51714;
}

#login_register_button {
    border-radius: 11px;
    padding: 12px;
    width: 456px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    align-self: center;
    transition: 200ms;
    background-color: #383d46;
    color: white;
}

#login_register_button:hover {
    background-color: #272c34;
}

#login_error {

}



/*==============| cars |==============*/
#car_list {
    overflow: hidden;
    width: 70%;
    margin: 120px auto 50px;
    align-items: center;
}

.car {
    overflow: hidden;
    position: relative;
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    float: left;
    text-align: center;
    z-index: 2;
    transition: 300ms;
    background-color: gray;
    color: white;
}


.car_list_image {
    position: relative;
    height: 300px;
    object-fit: cover;
    display: flex;
    z-index: 1;
    transition: display 0ms, margin-top 300ms;

}

.car_on_hover_info {
    position: absolute;
    background-color: #494e57;
    color: white;
    opacity: 90%;
    width: 100%;
    height: 100%;
    transition: margin-top 300ms;
    margin-top: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.car_list_image:hover .car_on_hover_info {
    margin-top: 0;
}

.car_on_hover_info_name {
    font-size: 24pt;
    margin-top: 15px;
}

.car_on_hover_info_price {
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30%;
}

.car_on_hover_info_order {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    transition: 300ms;
}

.car_on_hover_info_order:hover {
    background-color: rgba(255, 255, 255, 70);
    color: black;

}


/*==============| car's details |==============*/
#car_details_container {
    margin: 120px 50px;
}

#car_details_name {
    display: flex;
    flex-direction: row;
    font-size: 42pt;
    font-weight: bold;
}

#car_details {
    display: flex;
}

#car_details_image {
    width: 40%;
}

.photo_fullscreen #car_details:active {
    display: flex;
}


#car_details_info {
    width: 60%;
    background-color: #494e57;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#car_details_data_all {
    /*nothing*/
}

.car_details_data {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 2%;
    margin-left: 2%;
    width: 46%;
    position: relative;
    float: left;
    color: white;
    font-size: 12pt;
    flex-direction: row;
    display: flex;
    border-bottom-color: #383d46;
    border-bottom-style: solid;
    transition: 100ms;
}

.car_details_data:hover {
    background-color: rgba(56, 61, 70, 0.5);
}

.car_details_data_title {
    width: 40%;
    padding-left: 2px;
}

#car_details_info_bottom {
    margin-top: 12px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#car_details_price {
    font-size: 64pt;
    color: white;
    font-weight: bold;
}

#car_details_order {
    display: flex;
    justify-content: center;
    font-size: 28pt;
    border-color: white;
    background-color: #c62815;
    color: white;
    padding: 24px;
    transition: 200ms;
    border-radius: 36px;
    font-weight: bolder;
}

#car_details_order:hover {
    transform: scale(1.05);
}


/*==============| contact |==============*/

#contact_container {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 160px auto 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;

}

#contact_image {
    width: 50%;
    transition: 2s;
}

#contact_image:hover {
    transform: rotate(360deg);
}

#contact_right {
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    width: 50%;
    justify-content: center;
}

.contact_row {
    margin-left: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 75%;
    transition: 1000ms;
    align-self: center;
}

.contact_row:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.contact_title {
    font-weight: bold;
}

.contact_value {
    margin-left: 24px;
}


/*Animations*/


/*Suchodolski's styles*/
#time {
    text-align: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table#poczty {
    border: 3px solid azure;
}

table#poczty th {
    padding: 10px;
    border: 1px solid azure;
}

table#poczty td {
    padding: 10px;
    border: 1px solid azure;
}

#new_post {
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}