<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samochodex - historia</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{css/stylesheet.css}"/>
</head>
<body>
<!--menu-->
<div th:replace="templates :: navbar"></div>

<div id="samochodex_description_section" style="margin: 40px;">
    <div id="samochodex_description_title">
        O Samochodex
    </div>
    <div id="samochodex_description">
        <h3>Wstęp</h3>
        Samochodex został stworzony na potrzeby przedmiotu BADA. Jest on naszą odpowiedzią na drugą część projektu z
        tego przedmiotu. Wszystko zaczęło się w lipcu 2019 roku kiedy to Mateusz Suchocki oraz Kacper Grzegorzewski
        dowiedzieli się że nie zostali przyjęci na ich wymarzony kierunek - Informatykę. Na przekór nieszczęśliwej
        sytuacji obydwoje odnaleźli swoje powołanie na nowym kierunku, na kierunku Cyberbezpieczeństwo. Szczęśliwie
        przechodząc przez pierwszy, a potem drugi semestr dotarli wreszcie do drugiego roku ich studiowania. Nie mieli
        wyboru co do przedmionu BADA, albo BDBT (sami nie wiedzieli co to za przedmiot). Jedyne o czym była mowa na nim
        to tajemnicze bazy danych. Zastanawiali się o jakie bazy może chodzić - pod ziemią, kosmiczne, wojskowe, a może
        jeszcze jakieś inne. Nie interesowały ich zagadnienia z wykładów, czekali tylko na projekty, które mieli do
        wykonania.

        <h3>Pierwsza część projektu</h3>
        Dochodząc do którychś tam zajęć wykładowych, przedstawiona była pierwsza część projetku - zaimplementowanie
        bazy danych. Rozczarowali się, ponieważ prowadzący zmusił ich, aby była to baza Oracla. Znużeni historiami prowadzącego,
        jaka to ona powinna być, co robić itp. zaczęli myśleć, jaki temat projektu wybrać. Oboje kochali samochody (w
        zasadzie to nie, Kacper mnie zmusił do napisania tego), więc postanowili zrobić bazę danych zarządzaną przez
        salon samochodowy, który wspólnie nazwali Samochodex. Następnie włożyli sporo ciężkiej pracy, aby wykonać plany,
        koncepcje, modele i schematy ich wymarzonej bazy danych. Po wyciśnięciu z siebie siódmych, a nawet ósmych potów,
        dotrwali do końca i skończyli pierwszą część - implementację. Prowadzący przedmiotu ocenił ich projekt na 22/25 pkt.
        Mieli głęboką nadzieje, że dostaną więcej, ponieważ na zajęciach projektowych, gdzie prezentowali wspólnie to co
        zrobili, prowadzący ich bardzo pochwalił, a nawet powiedział, że jest z nich dumny. Marna ich nadzieja, bo
        prowadzącemu chyba już po prostu  nie chciało się sprawdzać kolenych projektów.

        <h3>Druga część projektu</h3>
        Po tym wszystkim co przeszli, nadszedł czas na drugą część projektu. Nowy prowadzący drugiej części dawał im
        wielkie nadzieje na szczere docienienie tego co chcą zrobić. Na zajęciach bardzo dokładnie wytłumaczył co należy
        robić oraz jak robić, aby dostać dobry wynik z tej części. Jak zwykle zniechęciła naszych bohaterów dokumentacja.
        Uważali, że jest niepotrzebna i zajmuje tych czas, a zastanawiaj się człowieku jak napisać to zdanie, albo to, a
        taką historię sobie piszesz i piszesz, nie martwisz się o błędy bo w IntelliJu nie chce Ci się znaleźć polskiej
        składni, dobry kolego będzie musiał czytać i sprawdzać po Tobie czy nie narobiłeś jakiś specjalnych blenduw.
        Jak już mówiłem, nie lubili pisać dokumentacji, jedyne co ich motywowało to programowanie, mogli siedzieć i
        siedzieć, i siedzieć, i siedzieć po nocach i programować i sprawiało im to wielką przyjemność (w końcu chcieli
        się dostać na informatykę). Od razu wzięli się do roboty i zaczęli konfigurować i pisać wstępną wersję aplikacji.
        Bardzo ciężko pracowali, całą przerwę świąteczną, między kolacją wigilijną a pasterką, jak goście przyjechali w
        pierwszy dzień świąt (nawet dużego "ś" nie da się napisać w tym IntelliJ), a nie bo pandemia, to nie przyjechali,
        podczas picia szampana w nowy rok na laptopach tylko klikali w klawiaturę i pisali dziwne rzeczy dla normalnych
        ludzi niezrozumiałe. Ostatecznie doszli do momentu, gdzie została im wykończeniówka, drobne poprawki, napisanie
        tej historii, i jakieś wizualne zmianki. Bardzo się cieszyli, że mogli wspólnie zrobić tak wspaniały projekt
        (oprócz dokumentacji, którą zaraz będę pisał). Kosztowało ich to wiele godzin, być może jakieś 150-200h pracy
        dwóch osób, ale dotrwali, dotrwali do końca i jesteśmy wszyscy z nich dumni, że podołali tak ciężkiemu zadaniu.

        <h3>Od autorów</h3>
        Fajny projekt.

        <h4>ps.</h4>
        Zapomniałem napisać, a nie chce mi się wklecać już zdania w środek, że Mateusz Suchocki znalazł błąd na zajęciach
        projektowych, którego szukanie trochę zajęło, i miał się upomnieć o to.
    </div>
</div>

<!-- footer -->
<div th:replace="templates :: footer"></div>
</body>
</html>