<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Samochodex</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{css/stylesheet.css}"/>
</head>
<body>
<!--menu-->
<div th:replace="menu :: menu"></div>

<!--welcome image-->
<div id="welcome">
    <div id="welcome_image_inside">
        <div id="welcome_image_text">
            Witaj w świecie <br /> Samochodex
        </div>
<!--        <div id="welcome_image_inside_button">-->
            <a href="/cars" id="welcome_image_button">Poznaj nasze modele</a>
<!--        </div>-->
    </div>

    <div id="welcome_image">
        <img th:src="@{/img/Mercedes-SLS-car-and-girl_1920x1080.jpg}" class="fit_to_div"/>
    </div>
</div>

<!--Some text about Samochodex-->
<div id="samochodex_description_section">
    <div id="samochodex_description_title">
        O Samochodex
    </div>
    <div id="samochodex_description">
        Samochodex został stworzony na potrzeby przedmiotu BADA. Jest on naszą odpowiedzią na drugą część projektu z
        tego przedmiotu. Wszystko zaczęło się w lipcu 2019 roku kiedy to Mateusz Suchocki oraz Kacper Grzegorzewski
        dowiedzieli się że nie zostali przyjęci na ich wymarzony kierunek - Informatykę. Na przekór nieszczęśliwej
        sytuacji obydwoje odnaleźli swoje powołanie na nowym kierunku, na kierunku Cyberbezpieczeństwo...
        <a href="/historia" style="width: auto">Czytaj dalej</a>
    </div>
</div>

<div id="links_section">
    Nasze salony  <br />
    Nasze samochody <br />
    Złóż zamówienie <br />
    Kontakt <br />
    O nas
</div>


</body>
</html>