<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Samochodex logowanie</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form th:action="@{/logowanie}" method="post" style="max-width: 400px; margin: 0 auto;">
        <h2 class="form-signin-heading">Zaloguj się</h2>


        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Nazwa użytkownika" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    </form>

    <!--error message-->
    <div th:if="${param.error}" class="alert alert-error" style="color: red; font-size: 22px; text-align: center">
        Nieprawidłowe dane logowania!
    </div>

</div>
</body>
</html>