<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
    <div th:fragment="menu" style="width: 100%">
        <div id="menu_container">
            <div class="left">
                <div id="menu_logo"><img th:src="@{/img/logo.png}" /></div>
                <div class="menu_object"> <a href="/poczty">Poczty</a> </div>
                <div class="menu_object"> <a href="/zamowienia">zamówienia</a> </div>
                <div class="menu_object"> <a href="/salony">salony</a> </div>
                <div class="menu_object"> <a href="/samochody">samochody</a> </div>

            </div>
            <div class="right">
                <a href="/logowanie">Logowannie</a>
                <a href="/logout">wyloguj</a>
                <a href="/rejestracja">rejestracja</a>
            </div>

        </div>
    </div>
</body>
</html>