<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/menu.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>menu</title>
</head>
<body>
    <div th:fragment="menu" id="container">
        <a href="/poczty">Poczty</a>
        <a href="/zamowienia">zamówienia</a>
        <a href="/logowanie">Logowannie</a>
        <a href="/logout">wyloguj</a>
        <a href="/rejestracja">rejestracja</a>
    </div>
</body>
</html>