<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj adress</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <div align="center">
        <h1>Edytuj adress</h1> <br/>

        <form action="#" th:action="@{/adresy/zapisz}" th:method="post" th:object="${address}">
            <table>
                <tr>
                    <td>Id:</td>
                    <td><input type="text" th:field="*{id}" readonly="readonly"></td>
                </tr>
                <tr>
                    <td>Miejscowość:</td>
                    <td><input type="text" th:field="*{miejscowosc}"></td>
                </tr>
                <tr>
                    <td>Ulica:</td>
                    <td><input type="text" th:field="*{ulica}"></td>
                </tr>
                <tr>
                    <td>Nr budynku:</td>
                    <td><input type="text" th:field="*{nrBudynku}"></td>
                </tr>
                <tr>
                    <td>Nr mieszkania:</td>
                    <td><input type="text" th:field="*{nrMieszkania}"></td>
                </tr>
                <tr>
                    <td>Poczta:</td>
                    <td>
                        <select th:field="*{post}" required>
                            <th:block th:each="post : ${posts}">
                                <option th:text="${post.kod} + ' ' + ${post.poczta}" th:value="${post.id}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><button type="submit">Zapisz</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>